*{
	box-sizing: border-box;

}
body{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../assets/image/background1.jpeg);
	/* background-image: linear-gradient(45deg,rgb(2, 0, 0),rgb(8, 0, 44)); */
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.profile{
	color: #fff;
	background-image: linear-gradient(90deg,rgba(1, 1, 32, 0),rgba(0, 255, 255, 0.431),rgba(1, 1, 32, 0));
	margin: auto;
	padding: 20px;
}
.profile img{
	height:200px;
	width:200px;
	border-radius: 50%;
}
.toppart img{
	height: 200px;
	width: auto;
}
.toppart h1{
	font-family: cursive;
	text-transform: uppercase;
	color: #fff;
}

.project-list{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.project{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	min-height: 20vw;
	padding:20px;
	width: 25vw;
	background-color: rgba(0, 0, 0, 0.452);
	color: #fff;
	margin-bottom: 30px;
}
.project button{
	bottom:0;
}
.social-menu{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.social-menu ul{
	display: flex;
	align-items: center;
	padding: 0;
}
.social-menu ul li{
	list-style: none;
	margin: 0 15px;
}
.social-menu ul li .fa{
	font-size: 25px;
	line-height: 50px;
	transition: .5s;
	color:#000;
}
.social-menu ul li .fa:hover{
	color: #fff;
}
.social-menu ul li a{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	transition: .5s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li a:hover{
	transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
	background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover{
	background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover{
	background-color: #007785;
}

@media screen and (max-width:600px){
	.profile{
		margin: auto;
		width: 100%;
		color: #fff;
		background-image: linear-gradient(rgba(1, 1, 49, 0.65),rgba(0, 255, 255, 0.431),rgba(1, 1, 32, 0));
	}
	.project-list{
		display: flex;
		flex-direction: column;
	
		
	}

	.project{
		margin:0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding:20px;
		width: 100%;
		margin-bottom:5vw;
		background-color: rgba(0, 0, 0, 0.308);
		
	}
	.headings{
		padding-top: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
		background-image: linear-gradient(black,rgba(0, 0, 0, 0.5));
		color:#fff;
	}
	.headings h1{
		display: none;
	}
	.headings marquee{
		font-family: 'Courier New', Courier, monospace;
		display: flex;
	}
}