*{
	box-sizing: border-box;

}
body{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../assets/image/background1.jpeg);
	/* background-image: linear-gradient(45deg,rgb(2, 0, 0),rgb(8, 0, 44)); */
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.profile{
	color: #fff;
	background-image: linear-gradient(90deg,rgba(1, 1, 32, 0),rgba(0, 255, 255, 0.431),rgba(1, 1, 32, 0));
	margin: auto;
	padding: 20px;
}
.profile img{
	height:200px;
	width:200px;
	border-radius: 50%;
}
.toppart img{
	height: 200px;
	width: auto;
}
.toppart h1{
	font-family: cursive;
	text-transform: uppercase;
	color: #fff;
}
/* .headings{
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	background-image: linear-gradient(black,rgba(0, 0, 0, 0.116));
	color:#fff;
}
.headings marquee{
	display: none;
} */
/* .gif
{
  transition: all 6s ease-in-out;
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
}
.gif:hover
{
  transform: translate(85vw,0);
  -webkit-transform: translate(85vw,0);
  -moz-transform: translate(85vw,0);
  -o-transform: translate(85vw,0);
  -ms-transform: translate(85vw,0);
} */

.project-list{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.project{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	min-height: 20vw;
	padding:20px;
	width: 25vw;
	background-color: rgba(0, 0, 0, 0.452);
	color: #fff;
	margin-bottom: 30px;
}
.project button{
	bottom:0;
}


@media screen and (max-width:600px){
	.profile{
		color: #fff;
		background-image: linear-gradient(rgba(1, 1, 49, 0.65),rgba(0, 255, 255, 0.431),rgba(1, 1, 32, 0));
	}
	.project-list{
		display: flex;
		flex-direction: column;
	
		
	}

	.project{
		margin:0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding:20px;
		width: 100%;
		margin-bottom:5vw;
		background-color: rgba(0, 0, 0, 0.308);
		
	}
	.headings{
		padding-top: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
		background-image: linear-gradient(black,rgba(0, 0, 0, 0.5));
		color:#fff;
	}
	.headings h1{
		display: none;
	}
	.headings marquee{
		font-family: 'Courier New', Courier, monospace;
		display: flex;
	}
}